# Created by https://www.toptal.com/developers/gitignore/api/al
# Edit at https://www.toptal.com/developers/gitignore?templates=al

### AL ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
*.app
.snapshots/*

# End of https://www.toptal.com/developers/gitignore/api/al